<div id="head" class="jumbotron">
    <h1>Football Manager</h1>
    <p class="lead">Football Manager is a web application for football clubs, their players and managers around Europe.</p>
    @*<p><a href="https://fantasy.premierleague.com/" class="btn btn-primary btn-lg">Start &raquo;</a></p>*@
</div>
<div id="entries" class="row">
    <div class="col-md-4">
        <h2>Teams</h2>
        <p>
            Information about all Teams.
        </p>
        <p><a id="bTeams" class="btn btn-default" href="#">View Teams &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Players</h2>
        <p>
            Information about all Players.
        </p>
        <p><a id="bPlayers" class="btn btn-default" href="#">View Players &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Managers</h2>
        <p>
            Information about all Managers.
        </p>
        <p><a id="bCoaches" class="btn btn-default" href="#">View Managers &raquo;</a></p>
    </div>
</div>
    <div id="content"></div>
    <div id="grid"></div>
    <div id="pager"></div>

