<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>FootBall Manager</title>
    
    @*Styles*@
    <link href="~/Content/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.silver.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*Scripts*@
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/kendo.web.min.js"></script>
    <script src="~/Scripts/grid.loader.js"></script>
    <script src="~/Scripts/pager.loader.js"></script>
    <script src="~/Scripts/teams.loader.js"></script>
    <script src="~/Scripts/players.loader.js"></script>
    <script src="~/Scripts/coaches.loader.js"></script>
    <script src="/Scripts/app.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FootBall Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Football Manager Application</p>
        </footer>
    </div>
</body>
</html>
